/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

button {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}